@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  /* Colors */
}

body {
  font-family: var(--font-inter);
}

a {
  text-decoration: none;
  color: inherit;
}
